body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Share Tech Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

image {
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.main-section-title {
    font-size: 300%;
    text-align: center;
}

.section-title {
    font-size: 175%;
    
}

.character {
    display: inline-block;
    border-style: solid;
    border-color: darkblue;
    border-width: 3px;
    cursor: pointer;
    background-color: white;
}

.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.character.enemy {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    cursor: pointer;
    background-color: red;
}

.character.target-enemy {
    display: inline-block;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    cursor: pointer;
    background-color: black;
}

.alert.alert-danger {
    width: 52%;
    border: 1px solid;
}

.alert.alert-dark {
    border: 1px solid;
}

button {
    width: 72px;
    height: 28px;
}

#battle-message {
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
}

.character-name {text-align: center;}
.character-health {text-align: center;}

/* media queries */

@media only screen and (max-width: 992px) {
    html,
    body {
        height: 150%;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 200%;
    }
}
